@import "../base/base";
@import "../base/settings";

.box-layout {
  background-image: url(../../images/bg.svg);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;  
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-y: auto;
}

.box {
  background: fade-out($white, 0);
  box-shadow: 0 10px 20px -10px #00000070;
  border-radius: 70px;
  padding: $l-size $m-size;
  text-align: center;
  width: 75vh;
  height: 82vh;
  min-height: 520px;
  @media (max-width: $desktop-breakpoint) , (max-height: 720px) {
    width: 475px;
    height: 520px;
  }
}

.logo {
  @media (max-width: $desktop-breakpoint) {
    height: 8vh;
  }
}
.box img {
  @media (max-width: $desktop-breakpoint) {
    max-height: 80px;
    width: 80px;
  }
  @media (max-height: 720px) {
    max-height: 80px;
    width: 80px;
  }
}
.spinner {
  height: 100px;
  width: 100px;
  margin: 100px;
}
