.notes{
    margin: 15px 0;
    height: 65vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 13px 18px #218EE821;
    border-radius: 41px;
    opacity: 1;
    padding: 20px $l-size 0 $l-size;
}
.notesTitle{
    text-align: center;
    font-size: large;
    font-weight: 300;
    color: black;
    margin: 20px auto;
}
.notesTitle img{
    margin: 10px;
}
.fa-thumbtack{
    color: $primary-color;
}

.col-md-3 {
   padding: 0;
}

.notesedit{
    height: 80%;
    width: 100%;
    background: #F1F6F9 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 0.59;
}