@import '../base/base';
@import '../base/settings';

.setting {
  padding: 20px;
  .bluebutton {
    border-radius: $border;
    background-color: $primary-color;
    color: $white;
    margin-top: 10%;
    margin-bottom: 10%;
    height: $xl-size;
    width: 70%;
    font: $font;
    font-weight: 200;
  }
  .simplebutton {
    width: 70%;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    font: $font;
    font-weight: 200;
    cursor: pointer;
    outline: inherit;
  }
  .box-left {
    margin: 25px 20px;
    display: flex;
    flex-direction: column;
    background: fade-out($white, 0);
    box-shadow: 5px 13px 18px #218ee821;
    border-radius: 41px;
    opacity: 1;
    padding: $l-size $s-size;
    text-align: left;
    max-height: 68vh;
    width: 80%;
    height: 600px;
    font-size: large;
    position: relative;
  }
  .settings-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-middle {
    height: auto;
    overflow: auto;
    padding: 16px;
  }
}
